.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: yellow;
    border-bottom: 2px solid black;
    overflow-y: auto;
}

.navbox {
    width: 11em;
    margin: .2em 0;
    background-color: white;
    border: 1px solid black;
    margin: .2em;
    padding: .5em;
    display: inline-block;
}

.nav_title {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}


@media(min-width: 768px) {
    .nav {
        flex-direction: column;
        width: 35%;
        height: 80%;
        display: inline-block;
    }

    .navbox {
        display: block;
        width: 90%;
    }

    .nav_title {
        text-align: left;
    }
}

@media(min-width: 1024px) {
    .nav {
        flex-direction: column;
        width: 25%;
        height: 100%;
    }
}