/* .posts {
    background-color: aliceblue;
    width: 100%;
    vertical-align: top;
    height: 55%;
    overflow-y: auto;
} */

.middle_container {
    background-color: aliceblue;
    width: 100%;
    vertical-align: top;
    height: 55%;
}

.update_status {
    height: 15%
}

.posts {
    height: 85%;
    overflow-y: auto;
}

.postbox {
    border-bottom: 1px solid black;
    margin-top: 1em;
    width: 100%;
}

.update_post_choice {
    display: flex;
    margin-bottom: .5em;
}


.post_img_container {
    height: 20px;
    display: inline-block;
}



@media(min-width: 768px) {
    .middle_container {
        width: 64%;
        height: 80%;
        display: inline-block;
    }
}

@media(min-width: 1024px) {
    .middle_container {
        height: 100%;
        width: 50%;
    }
}