.middle_container {
    width: 100%;
    vertical-align: top;
}

.update_status {
    display: flex;
    flex-direction: column;
    padding: .5em 0;
    background-color: #afbdd4;
    border-bottom: 2px solid #6d84b4;
    padding: 1em 0;
}

.postbox {
    padding: 1em;
    width: 100%;
    border-bottom: 2px solid #6d84b4;
}

.update_post_options {
    display: flex;
    margin-bottom: .5em 0;
}

.update_post_entry {
    text-align: center;
    padding: .5em 0 .5em 0;
}

.poster {
    padding-left: .5em;
}

.input-text {
    text-decoration: none;
    width: 90%;
    /* border: 1px solid gray; */
    border-width: 0;
    font-size: 1.3em;
    padding-left: .5em;
    outline: none;
}

.post_img_container {
    height: 2rem;
    display: inline-block;
}

@media(min-width: 768px) {
    .middle_container {
        width: 64%;
        height: 80%;
        overflow-y: auto;
        display: inline-block;
        border-left: 2px solid #6d84b4;
    }

    .update_status {
        height: 12%;
    }
    .posts {
        height: 88%;
        overflow-y: auto;
    }
}

@media(min-width: 1024px) {
    .middle_container {
        height: 100%;
        width: 50%;
    }
}